* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    padding-right: 40px;
    border-right: 5px solid yellow;
}

.header nav {
    padding-top: 0px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.conector {
    height: 600px;
    width: auto;
}
.conector img {
    height: 100%;
    width: 100%;
    background-color: black;
    align-items: center;
}

.about-me {
    color: #ffffff;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display: flex;
}

.about-me h2 {
    padding-top: 15px;
    padding-right: 40px;
    border-right: 5px solid yellow;
    margin-right: 5px;
    font-size: 35px;
}

.about-me div p {
    padding: 30px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.about-me div img {
    height: 300px;
    width: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.work {
    color: #ffffff;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 20px;
}

.first-app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    width: auto;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.first-app img {
    height: 300px;
    width: 1000px;
    padding: 30px;
}

.second-app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    width: auto;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.second-app img {
    height: 300px;
    width: 600px;
    padding: 30px;
}

.third-app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    width: auto;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.third-app img {
    height: 300px;
    width: 600px;
    padding: 30px;
}

.resume {
    color: #ffffff;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 20px;
}

.resume-content {
    color: #ffffff;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #ffffff;
}

.footer h2 {
    display: inline-block;
    font-size: 48px;
}

.footer div {
    padding-top: 0px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.footer div ul {
    list-style-type: none;
}

.footer div ul li {
    display: inline-block;
    margin-left: 25px;
}

@media screen and (max-width: 768px) {
    
    .first-app img, .second-app img, .third-app img {
        height: 50%;
        width: 50%;
    }
    .about-me div img {
        height: 50%;
        width: 50%;
    }
    }

@media screen and (max-width: 1056px) {
    
    .first-app img, .second-app img, .third-app img {
        height: 50%;
        width: 50%;
    }
    .about-me div img {
        height: 50%;
        width: 50%;
    }
    }