* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}
.header nav {
    padding-top: 0px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.conector {
    height: 800px;
    width: 78%;
    margin-left: 0%;
}

.about-me {
    color: #ffffff;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display: flex;
}

.about-me h2 {
    padding-top: 15px;
    padding-right: 40px;
    border-right: 5px solid yellow;
    margin-right: 5px;
    font-size: 35px;
}

.about-me div p {
    padding: 30px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.work {
    color: #ffffff;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
}

.blue {
    display: flex;
    height: 150px;
    width: 100%;
    color: #ffffff;
    background-color: lightskyblue;
    background-size: ;
    font-family: Arial, Helvetica, sans-serif;
}

.wine {
    display: flex;
    height: 150px;
    width: 40%;
    color: #ffffff;
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

.grey {
    display: flex;
    height: 150px;
    width: 40%;
    color: #ffffff;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.navy-blue {
    display: flex;
    height: 150px;
    width: 40%;
    color: #ffffff;
    background-color: navy;
    font-family: Arial, Helvetica, sans-serif;
}

.purple {
    display: flex;
    height: 150px;
    width: 40%;
    color: #ffffff;
    background-color: purple;
    font-family: Arial, Helvetica, sans-serif;
}

.resume {
    color: #ffffff;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.resume-content {
    color: #ffffff;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #ffffff;
}

.footer h2 {
    display: inline-block;
    font-size: 48px;
}

.footer div {
    padding-top: 0px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.footer div ul {
    list-style-type: none;
}

.footer div ul li {
    display: inline-block;
    margin-left: 25px;
}



